<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
         .border{
                box-shadow:0 4px 8px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            }
        .button {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
    </style>
</head>
<body><br>
<div class="container border" style="background-color:white"><br />
    <div  class="col-md-12" style="background-color: #008080; color: white; margin-bottom: 40px;"><center><h1>MECHANICAL ENGINEERING</h1></center></div> <br><br>
  <div class="row">
      
    <div class="col-md-3" style="margin-left: 40px"> <button type="button" class="btn btn-info" style="background-color: white;width: 250px;height: 100px"><a class="br-thumb " href="https://brpaper.com/ptu/b-tech/me/1-2" title="1st-2nd semester in mechanical engineering B-TECH under ptu">
            <h2 class="text-dark" style="color:gray;">1st-2nd</h2>
            </a>
        </button></div>
      
             <div class="col-md-1" ></div>
    <div class="col-md-3" style="margin-left: 10px"><button type="button" class="btn btn-info" style="background-color: white;width: 250px;height: 100px"><a class="br-thumb "  href="https://brpaper.com/ptu/b-tech/me/3" title="3rd semester in mechanical engineering B-TECH under ptu">
            <h2 class="text-dark" style="color: gray;">3rd</h2>
        </a></button></div>
      
            <div class="col-md-1" ></div>
    <div class="col-md-3" style="margin-left: 20px"><button type="button" class="btn btn-info" style="background-color:white; width: 250px;height: 100px"><a class="br-thumb " href="https://brpaper.com/ptu/b-tech/me/4" title="4th semester in mechanical engineering B-TECH under ptu">
            <h2 class="text-dark" style="color: gray;">4th</h2>
        </a></button></div>
  </div><br><br><br>
    
     <div class="row">
    <div class="col-md-3" style="margin-left: 40px"><button type="button"class="btn btn-info" style="background-color:white;width: 250px;height: 100px"><a class="br-thumb " href="https://brpaper.com/ptu/b-tech/me/5" title="5th semester in mechanical engineering B-TECH under ptu">
            <h2 class="text-dark" style="color: gray;">5th</h2>
        </a></button></div>
             <div class="col-md-1" ></div>
 

    <div class="col-md-3" style="margin-left: 10px"><button type="button" class="btn btn-info" style="background-color:white;width: 250px;height: 100px"><a class="br-thumb " href="https://brpaper.com/ptu/b-tech/me/6" title="6th semester in mechanical engineering B-TECH under ptu">
            <h2 class="text-dark" style="color:gray;">6th</h2>
        </a></button></div>
                 <div class="col-md-1" ></div>

    <div class="col-md-3" style="margin-left: 20px"><button type="button" class="btn btn-info" style="background-color:white;width: 250px;height: 100px"> <a class="br-thumb " href="https://brpaper.com/ptu/b-tech/me/7-8" title="7-8th semester in mechanical engineering B-TECH under ptu">
            <h2 class="text-dark" style="color:gray;">7-8th</h2>
        </a></button></div>
  </div>
    <br><br>
     <div class="row">
        <div class="col-md-3" style="margin-right: 150px"></div>
        <div class="col-md-3" style="margin-right: 50px"><button type="button" class="btn btn-info" style="background-color:#008080;width: 250px;height: 100px">
         <a class="br-thumb " href="https://www.ptu.ac.in/userfiles/file/engg_syllab/18-12-13%20Btech2011%20ME.pdf" title="7-8th semester in mechanical engineering B-TECH under ptu">
            <h2 class="text-dark" style="color:white;">Syllabus</h2>
        </a>  
        </button></div>
    </div><br />
</div>

</body>
</html>
